.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 12px;
  z-index: 10;
  justify-content: space-between;

  .logo {
    font-size: 48px;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .link {
    font-size: 10px;
  }

  .linkSeparator {
    margin: 0 0.5rem;
  }
}