.footer {
  background: var(--foreground);
}

.bottomText {
  color: white;
  font-size: 8rem;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -.5vw;
  opacity: .5;
}

.contactArea {

  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: white;
    opacity: 0.15;
  }
}

.contactTitle {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: -.2vw;
  opacity: 1;
}

.contactMail {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: -.2vw;
  opacity: 1;
  text-decoration: underline;
}
